create-task-form-styling {
    margin: 1em;
    background: white;
}

create-task-container-left {
    float: left;
    width: 85%;
}

create-task-container-right {
    float: right;
    width: 15%;
}